<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
<h3><label id="name"> name: </label></h3> <br>
<input type="text" id="name" name="name">
<h3><label id="email"> email: </label></h3> <br>
<input type="text" id="email" name="email">
<h3><label id="password"> password: </label></h3> <br>
<input type="text" id="pasword" name="password">
<input type="submit" value="Sign Up">
</form>
